* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

/* HEADER */

header {
  text-align: center;
  position: sticky;
  top: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}

h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-family: 'Russo One', sans-serif;
  margin: 0;
  color: #15274C;
}

ul.anchor-block {
  list-style: none;
  padding: 5px 0 15px;
  margin: 0;
}

ul.anchor-block li {
  display: inline-block;
  margin: 0px 15px;
}

ul.anchor-block li a {
  text-decoration: none;
  color: #555;
}

ul.anchor-block li a:hover {
  text-decoration:underline;
  text-decoration-color: #F25164;
}

ul.anchor-block li a.active {
  font-weight: 700;
  color: #F25164;
}

/* MAIN */

/* index.html */

#banner {
  background-image: url("../images/mr_robot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.info {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;

}

.info h2 {
  font-family: 'Russo One', sans-serif;
  font-size: 2em;
  color: #15274C;
}

.info p {
  text-align: justify;
}

.info img {
  display: block;
  width: 100%;
  max-width: 400px;
  border-radius: 50px;
  margin: 40px auto;
}

/* about.html */

#about {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 5vh;
  text-align: center;
}

#about > h2 {
  font-size: 2rem;
}

#about > img {
  width: 80%;
}

/* videos.html */

#videos {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 5vh;
}

#videos iframe {
  width: 100%;
  height: 400px;
}

/* contact.html */

#contact {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 5vh;
}

#contact img {
  width: 100%;
  padding-top: 5vh;
}

#contact > h2 {
  font-size: 2rem;
}

#contact section {
  margin-bottom: 40px;
}

.nome-e-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nome-e-email div {
  flex: 1;
  display: flex;
  justify-content: start;
  margin: 0 10px 15px 0;
}

.sexo label {
  margin-right: 60px;
}

.areas div {
  margin-bottom: 10px;
}

.mensagem textarea {
  width: 100%;
  height: 15em;
}

.button {
  background-color: #F25164;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-right: 20px;
}

/* FOOTER */

footer {
  background-color: #f2f2f2;
  text-align: center;
}

footer p {
  padding: 10px;
  margin: 0;
}

/* MEDIA QUERY */

@media (max-width: 820px) {
  
  /* MAIN */
 
  .info, #about, #videos, #contact {
    padding: 0 20px;
  }

  #videos {
    padding: 0 20px;
  }

  #videos iframe {
    height: 315px;
  }
}